<!DOCTYPE HTML>
<html>
	<head>
		<title>Top music</title>
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" sizes="32x32" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/mainstyle.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='styles/mainstyle.css') }}" /></noscript>
	</head>
	<body class="is-preload">
			<div id="wrapper">
					<section id="main">
						<header>
							<span class="avatar"><img src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="" /></span>
							<h1>Top music</h1>
						</header>
						<br>
						<img src="{{ url_for('static', filename='images/error.png') }}" alt="Podium" width="60%"/>
						<br>
						Can't get your playlist :<br>
						Bad link
						<br><br>
						<form metho="post" action="/" name="from_err">
							<input type="submit" value="Home"/>
						</form>
					</section>
			</div>
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>
	</body>
</html>